<div id="navbar">
  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
          <a href="">
            Home
          </a>
        </li>
        <li>
          <a href="#counterparties">
            Counterparties
          </a>
        </li>
        <li>
          <a href="#articles">
            Articles
          </a>
        </li>
        <li>
          <a href="#register">
            Register
          </a>
        </li>
        <li>
          <a href="#reports">
            Reports
          </a>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <a href='/login'>
            Login
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
