<div class='container'>
  <div class='wrapper'>

    <form
      class='form-horizontal'
      #workspaceSelectForm="ngForm" (ngSubmit)="onSelect()">

      <label for='workspaces'> Select workspace: </label>
      <div class='form-group'>

        <button
          class='btn btn-primary col-sm-1'
          type='submit'>Select</button>
        <div class='col-sm-10'>

          <select
            class='form-control'
            id='workspaces'
            name='workspaces'
            [(ngModel)]="_workspaceSelectDataId">
            <option *ngFor="let workspace of workspaces"
              [value]="workspace.id"
              [selected]="currentWorkspaceId"> {{workspace.title}} </option>
          </select>
        </div>
      </div>
    </form>

    <form
      class='form-horizontal'
      #workspaceForm="ngForm" (ngSubmit)="onCreate()">

      <div class='form-group'>

        <button
          class='btn btn-primary col-sm-1'
          [disabled]="!workspaceForm.form.valid"> Create </button>
        <div class='col-sm-10'>

          <input type='text'
            class='form-control'
            placeholder='Create new workspace'
            name='title'
            required
            autofocus
            [(ngModel)]="_workspaceCreateData.title" />

        </div>

      </div>
    </form>


  </div>
</div>
