<div class='container'>
  <div class='wrapper'>

    <app-workspace (workspaceChange)="ngOnInit()"> </app-workspace>

  </div>
  <div class='wrapper'>

    <h2> Counterparties: </h2>

    <div class='row'>

      <form
        class='form-inline'
        #counterpartyForm="ngForm" (ngSubmit)="onCreate()">

      <input type='date'
              class='form-control mb-2 mr-sm-2 mb-sm-0'
              name='date'
              placeholder="dd/mm/yyyy"
              required
              [(ngModel)]="submitData.date" />

      <input type='text'
              class='form-control mb-2 mr-sm-2 mb-sm-0'
              name='name'
              placeholder='Name'
              required
              [(ngModel)]="submitData.name" />

      <select class='form-control mb-2 mr-sm-2 mb-sm-0'
              name='type'
              required
              [(ngModel)]="submitData.party_type">

        <option *ngFor="let type of types"
          [ngValue]="type"> {{ type | capitalize }} </option>
      </select>

      <button
        class='btn btn-secondary'
        type='submit'> Add </button>

      </form>

    </div>
  </div>

  <div class='margin wrapper'>
    <div class='box row'>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-muted active" href="#">Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">Vendor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">Other</a>
        </li>
      </ul>

      <table class='table'>
        <thead>
          <tr>
            <th> Name </th>
            <th> Date </th>
            <th> Type </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let counterparty of counterparties'>
            <td> {{counterparty.name}} </td>
             <td> {{counterparty.date | date:'dd-MM-y'}} </td>
            <td> {{ counterparty.party_type | capitalize }} </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
