<div class = 'container'>
  <div class='wrapper'>

    <form
      class='form-signin'
      #signInForm="ngForm" (ngSubmit)="onSubmit()">

      <h3 class='form-signin-heading'>Sign In</h3>
      <hr class='colorgraph'><br>

      <input type='text'
              class='form-control'
              name='email'
              placeholder='Email'
              required
              autofocus
              [(ngModel)]="_signInData.email" />
      <input type='password'
              class='form-control'
              name='Password'
              placeholder='Password'
              required
              [(ngModel)]="_signInData.password" />

      <button
          type='submit'
          class='btn btn-lg btn-primary btn-block'
          [disabled]="!signInForm.form.valid">Login</button>
    </form>

  </div>
</div>

